################ !!!! Git Ignore Config File !!! ################
# NOTE: This file must be put under root dir of git project!
#################################################################

# local env files
.env.local
.env.*.local
*.bak
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# common ignore files
*.un~
*.swp
*.tmp
*.bak
.svn/

# Mac files
.DS_Store

# Local configuration file (sdk path, etc)
local.properties
local_config.js

# general output files
bin/
gen/
out/
build/
dist/
node_modules/
bundle.js
vendor.js

# C/C++ specific files
*.o

# Java/Android specific files
*.class
*.apk
*.ap_
*.dex

# Python specific files
*.pyc
*.egg-info/
config.yaml
fabfile.py
*.log
*.log.*

# Eclipse specific files
.settings/

# Intellij specific files
*.iml
*.ipr
*.iws
.idea/

# Xcode specific files
build/
DerivedData
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.moved-aside

# IDEA specific files
.idea/

# Other files
**/.ropeproject

# vim session files
*.vim

# web js build
node_modules/
#package-lock.json
yarn.lock

# python test
_trial_temp/
venv
__pycache__

.vitepress/cache